<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Raison Tandil | Novedades </title>
</head>

<body>

    <header>
        <div class="barra">
            <img src="../images/raisonlogo.jpeg" alt="Raison Tandil" width="100px" height="100px">

            <nav>

                <ul class="navbar">
                    <li> <a href="../index.html"> Inicio </a> </li>
                    <li> <a href="../views/novedades.html"> Novedades</a> </li>
                    <li> <a href="../views/ofertas.html"> Ofertas </a> </li>
                    <li> <a href="../views/categorias.html"> Categorías</a> </li>
                    <li> <a href="../views/contacto.html"> Contacto </a> </li>
                </ul>

            </nav>
        </div>
    </header>

    <main>
        <h1>Novedades en Raison</h1>
        <div class="novedadespadre">
            <div class="novedadesuno"> <img src="../images/novedades1.jpeg" alt=""> </div>
            <div class="novedadesdos"> <img src="../images/novedades2.jpeg" alt=""></div>
            <div class="novedadestres"> <img src="../images/novedades3.jpeg" alt=""></div>
            <div class="novedadescuatro"> <img src="../images/novedades4.jpeg" alt=""></div>
            <div class="novedadescinco"> <img src="../images/novedades5.jpeg" alt=""></div>
            <div class="novedadesseis"> <img src="../images/novedades6.jpeg" alt=""></div>

        </div>
    </main>

    <footer class="piepagina">
        <p>® Raison Tandil es una marca registrada</p> <br>

        <h3>Sobre nosotros</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia libero, sint ab autem voluptatem
            quibusdam dolorum aspernatur. Ut sapiente voluptatibus numquam, culpa tenetur, ad obcaecati quaerat officiis
            dolorem ipsa impedit saepe deleniti vero aspernatur quod dolor natus error eum, necessitatibus odio.
            Temporibus maxime numquam dolor, deserunt nemo reprehenderit perspiciatis?</p> <br>
        <p>
            Creado por Estanislao Berdiñas
        </p>

        <p> Estudiante de <a href="http://www.coderhouse.com/"> Coderhouse</a></p>

    </footer>


</body>

</html>